$bg: #516C81;
$bg2: #273947;
$bg-item: #0F1E2C;
$accent: #F07F18;

%montserrat-400 {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

%montserrat-500 {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
}

%montserrat-600 {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
}

%playfairDisplay-400 {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: 400;
}

%playfairDisplay-700 {
  font-family: 'PlayfairDisplay-Bold';
  font-weight: 700;
}

