@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  &__top{
    padding: 30px 0;
    background-color: $bg;
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__list{
    display: flex;
    &-item + .menu__list-item{
      margin-left: 60px;
    }
    &-link{
      line-height: 20px;
      transition: all .5s;
      &:hover{
        color: $accent;
      }
    }
  }
  &__top-link{
    width: 188px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    transition: all .5s;
    &:hover{
      background-color: rgba($color: $bg-item, $alpha: .5);
    }
  }

  &__content{
    
    padding: 181px 0 100px;
    background-image: url('../images/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    //min-height: calc(100vh - 105px);
    min-height: 100vh;
  }
  &__content-inner{
    position: relative;
    min-height: 624px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content-top{
    position: absolute;
    max-width: 395px;
    right: 0;
    top: 0;
    text-transform: uppercase;
    font-size: 20px;
    text-align: right;
    @extend %montserrat-600;
  }
  &__content-main{
    max-width: 595px;
    padding: 24px;
    background-image: url('../images/header-content-bg.svg');
    background-position: right top;
    background-repeat: no-repeat;
    &__title{  
      font-size: 48px;
      line-height: 56px;
      text-align: right;
      text-transform: uppercase;
      margin-bottom: 30px;
      @extend %playfairDisplay-400;
    }
    &__subtitle{
      font-size: 20px;
      text-align: right;
      max-width: 400px;
      margin-left: auto;
      margin-bottom: 80px;
      @extend %montserrat-600;
    }
    &__link{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 42px;
      position: relative;
      width: 250px;
      height: 55px;
      border: 1px solid #fff;
      margin-left: auto;
      transition: all .5s;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/arrow.svg');
        width: 12px;
        height: 12px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover{
        background-color: rgba($color: $bg-item, $alpha: .5);
      }
    }
  }

  &__content-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    &__subtitle{
      font-size: 20px;
      text-transform: uppercase;
      max-width: 309px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      @extend %montserrat-600;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: #fff;
        bottom: 0;
      }
    }
    &__text{
      font-size: 14px;
      max-width: 300px;
      @extend %montserrat-600;
    }
  }
}
.about{
  background-color: $bg2;
  padding: 100px 0 116px;
  &__title{
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 113px;
    @extend %playfairDisplay-400;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__inner-content{
    max-width: 530px;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @extend %montserrat-600;
  }
  &__inner-text:first-child{
    margin-bottom: 30px;
  }
  &__inner-list{
    margin-bottom: 30px;
  }
}
.advantage{
  background-color: $bg2;
  padding-bottom: 116px;
  &__title{
    font-size: 36px;
    margin-bottom: 70px;
    @extend %playfairDisplay-400;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 20px;
    margin-bottom: 116px;
  }
  &__inner-item{
    padding-left: 100px;
    position: relative;
  }
  &__inner-item__img{
    position: absolute;
    top: 0;
    left: 0;
  }
  &__inner-item__subtitle{
    font-size: 20px;
    margin-bottom: 15px;
    @extend %montserrat-600;
  }
  &__company{
    display: flex;
    justify-content: space-between;
  }
  &__company-content{
    max-width: 560px;
    font-size: 20px;
    line-height: 30px;
    @extend %montserrat-600;
  }
  &__company-list{
    margin-bottom: 30px;
  }
}
.portfolio{
  background-color: $bg2;
  padding-bottom: 100px;
  &__title{
    font-size: 36px;
    margin-bottom: 70px;
    @extend %playfairDisplay-400;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px 20px;
    margin-bottom: 85px;
  }
  &__inner--hiden{
    display: none;
  }
  &__item{
    text-align: center;
  }
  &__item-img{
    margin-bottom: 15px;
  }
  &__item-title{
    font-size: 20px;
    transition: all .5s;
    @extend %montserrat-600;
    &:hover{
      color: $accent;
    }
  }
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 42px;
    width: 226px;
    height: 55px;
    border: 1px solid #fff;
    position: relative;
    margin: 0 auto;
    transition: all .5s;
    &::before{
      content: '';
      position: absolute;
      right: 30px;
      top: 20px;
      width: 12px;
      height: 12px;
      transform: rotate(0.25turn);
      background-image: url('../images/icons/arrow.svg');
    }
    &:hover{
        background-color: rgba($color: $bg-item, $alpha: .5);
      }
  }
}




@import 'media';